.toggle{
  float: right;
}
.tracker{
  width:100%
}
table input{
  width:100%
}
.settings{
  display: none;
}
*{
  background-color: rgb(66, 66, 66);
  color: white;
}

table,th,td {
    border: 1px solid #a4a4a4;
}
